<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <title>Fudge Story Template</title>
  <splash src="Images/Splash.png" />
</head>

<body>
  <scene>

    <dialog type="splash" open>
      <img id="Images/Bckground/tavernbacground normal.jpg">
      <img id="FudgeStoryLogo" theme="dark" /> <!-- use "light" or "dark" -->
      <img id="Images/Bckground/tavernbacground normal.jpg">
      <h1 class="h1"><small>Geschichten</small><br>aus der Taverne</h1>
      <p>Click anywhere to start</p>
      
    </dialog>

    <canvas></canvas>


    <speech>
      <name>The name of the character speaking</name>
      <content>The text the character says</content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>
    <!-- Alessa Meterbar für Scene-->
    
    <div type="interface">
      <input id="scoreForAlessa" type="text" value="Alessa" disabled>
      <!-- für value der Skala; Füllung -->
      <meter id="alessaMeter" name="alessaScore" min="0" max="90" disabled></meter>
    </div>
  
  </scene>
</body>

</html>